@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Manrope:wght@300;400;500;600;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Manrope', sans-serif;
}

.swiper-button-next {
     color: red !important;
}
.frjscc{
    flex-direction: row-reverse;
}

.bYKAVh > .wrapper{
    z-index: 9999 !important;
}